{% extends 'base.html' %}

<style>
	.faq {
		margin-top: 40em;
	}
</style>

{% block body %}
<div>
	<h1 style='text-transform: uppercase;color:#c33c33;'>About Me</h1>
	<p>I'm a Korean-born 'Hoosier' (a person from Indiana), so born in rice fields, grew up in corn fields.</p>
	<p>I've also lived in Chicago and Seoul. I've been in Korea since Nov. 2018.</p>
	<p>I enjoy books, tennis, golf, podcasts, New Yorker Magazine, Pink Floyd, Led Zeppelin, Simon and Garfunkel, tacos, pizza, and burgers.</p>
    <hr>
    <h1 style='text-transform: uppercase;color:#c33c33;'>About SimonPost.com</h1>
    <p>My blog is mostly about tech and web-development topics, like CSS, JavaScript, React, HTML, databases, Python, Flask, Django, etc. But I will occasionally post about non-tech stuff I find to be blog-worthy.</p>
</div>

{% endblock %}
