<style>
	.logo {
		font-family: Verdana;
		color: white;
		font-size: 33pt;
		font-weight: 900;
		font-style: italic;
		letter-spacing: 3px;
        padding-top: 8px;
		text-shadow: -7px 7px 1px black, 0 2px black, 2px 0 black, 0 -2px black;
	}
	.nav {
		position: fixed;
		background-color: #c33c33;
        
		top: 0;
		left: 0;
		right: 0;
		transition: all 0.2s ease-in-out;
		z-index: 99;
	}

	.nav .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all 0.2s ease-in-out;
	}

	.nav ul {
		display: flex;
		list-style-type: none;
		align-items: center;
		justify-content:space-around;
        padding-top: 15px;
	}

	.nav a {
		color: whitesmoke;
		text-decoration: none;
		padding: 0px 8px;
		transition: all 0.2s ease-in-out;
	}

	/* .nav.active {
		background-color: #fff;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	} */

	.nav a.current,
	.nav a:hover {
		color: #202679;
		font-weight: bold;
		text-decoration: underline;
	}
</style>

<nav class="nav">
	<div class="container">
		<h1 class="logo"><a href="{{ url_for('main.home') }}">SIMONPOST</a></h1>
		<ul>
			<li class="nav-item">
				<a href="{{ url_for('main.about') }}">About</a>
			</li>
		</ul>
	</div>
</nav>
<div style='width:100%; height:130px;' class="space-below-nav">

</div>