{% extends "base.html" %}
{% block body %}

    <div class='form-wrapper'>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="six columns">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="is-invalid u-full-width") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="u-full-width") }}
                    {% endif %}
                </div>
                <div class="six columns">

                    {{ form.email.label() }}
                    {% if form.email.errors %}
                        {{ form.email(class="u-full-width") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="u-full-width") }}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="u-full-width is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="u-full-width") }}
                        {% endif %}
                    </div>
                </div>

                <div class="six columns">
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="u-full-width is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="u-full-width") }}
                        {% endif %}
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form.submit(class="button-primary") }}
                </div>
            </div>
        </form>
    </div>
    
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>
{% endblock %}
